<div class="flex">
  <!-- Sidebar -->
  <div
    class="sidebar bg-white shadow-md"
    [class.sidebar-blurred]="isAddUserVisible || isEditUserVisible"
  >
    <div class="p-4">
      <h1 class="font-bold text-lg">YOURLOGO</h1>
    </div>
    <ul class="mt-8">
      <li
        class="flex items-center p-4 relative"
        [ngClass]="{
          'text-blue-600': currentComponent === 'dashboard',
          'text-gray-600': currentComponent !== 'dashboard',
          'selected-item': currentComponent === 'dashboard'
        }"
        (click)="setCurrentComponent('dashboard')"
      >
        <i class="ri-command-line mr-4"></i>
        <a href="#" class="font-normal">Dashboard</a>
      </li>
      <li class="flex items-center p-4 text-gray-600">
        <i class="ri-bar-chart-fill mr-4"></i>
        <a href="#" class="font-normal">Users</a>
      </li>
      <li
        class="flex items-center p-4 text-gray-600 relative"
        [ngClass]="{
          'text-blue-600': currentComponent === 'documents',
          'text-gray-600': currentComponent !== 'documents',
          'selected-item': currentComponent === 'documents'
        }"
        (click)="setCurrentComponent('documents')"
      >
        <i class="ri-article-line mr-4"></i>
        <a href="#" class="font-normal">Documents</a>
      </li>
      <li class="flex items-center p-4 text-gray-600">
        <i class="ri-image-line mr-4"></i>
        <a href="#" class="font-normal">Photos</a>
      </li>
      <li class="flex items-center p-4 text-gray-600">
        <i class="ri-hand-coin-line mr-4"></i>
        <a href="#" class="font-normal">Hierarchy</a>
      </li>
      <li class="flex items-center p-4 text-gray-600">
        <i class="ri-message-2-line mr-4"></i>
        <a href="#" class="font-normal">Message</a>
      </li>
      <li class="flex items-center p-4 text-gray-600">
        <i class="ri-question-line mr-4"></i>
        <a href="#" class="font-normal">Help</a>
      </li>
      <li class="flex items-center p-4 text-gray-600">
        <i class="ri-settings-5-line mr-4"></i>
        <a href="#" class="font-normal">Setting</a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content flex-1 p-6">
    <!-- Header Section -->
    <div class="header bg-gray-100 p-4 flex justify-between items-center">
      <div>
        <h1 class="text-2xl font-semibold">Hello, Lekan</h1>
        <p class="text-gray-500">Have a nice day</p>
      </div>
      <div class="flex items-center gap-2">
        <i class="fa fa-bell text-gray-500 relative">
          <span
            class="absolute top-0 right-0 inline-block w-2 h-2 transform translate-x-1 -translate-y-1 bg-blue-500 rounded-full"
          ></span>
        </i>
        <div class="border-l-2 border-gray-300 h-6 mx-4"></div>
        <div class="flex items-center gap-2">
          <div class="profile-placeholder"></div>
          <div>
            <p class="font-semibold">Lekan Okeowo</p>
            <p class="text-gray-500 text-sm">Admin</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <app-user-list *ngIf="currentComponent === 'dashboard'"></app-user-list>
      <app-document *ngIf="currentComponent === 'documents'"></app-document>
    </div>
  </div>
</div>
