<div class="p-6">
  <div class="flex justify-between items-center">
    <h2 class="text-2xl font-semibold text-blue-600">Users Dashboard</h2>
    <button
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="showAddUserForm()"
    >
      Add user +
    </button>
  </div>

  <div class="flex justify-between mt-6">
    <input
      type="text"
      class="w-2/4 p-2 border border-gray-300 rounded"
      placeholder="Search"
    />
    <div class="flex gap-2">
      <button class="text-gray-500">Sort by</button>
      <button class="text-gray-500">Saved search</button>
    </div>
  </div>

  <table class="min-w-full bg-white shadow-md rounded-lg mt-4">
    <thead>
      <tr>
        <th
          class="py-2 px-6 bg-gray-100 text-left text-sm uppercase text-gray-600"
        >
          Name
        </th>
        <th
          class="py-2 px-6 bg-gray-100 text-left text-sm uppercase text-gray-600"
        >
          Create Date
        </th>
        <th
          class="py-2 px-6 bg-gray-100 text-left text-sm uppercase text-gray-600"
        >
          Role
        </th>
        <th
          class="py-2 px-6 bg-gray-100 text-left text-sm uppercase text-gray-600"
        >
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="border-b">
        <td class="py-2 px-6">
          <div>
            <p class="font-semibold">
              {{ user.firstName }} {{ user.lastName }}
            </p>
            <p class="text-sm text-gray-500">{{ user.email }}</p>
          </div>
        </td>
        <td class="py-2 px-6">{{ user.createDate | date : "dd MMM, yyyy" }}</td>
        <td class="py-2 px-6">
          <span
            class="inline-block px-3 py-1 text-sm font-semibold text-white rounded-full"
            [ngClass]="{
              'bg-blue-500': user.role === 'Super Admin',
              'bg-blue-400': user.role === 'Admin',
              'bg-blue-300': user.role === 'HR Admin',
              'bg-gray-300': user.role === 'Employee'
            }"
          >
            {{ user.role }}
          </span>
        </td>
        <td class="py-2 px-6 flex gap-3">
          <button class="text-blue-500">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="text-red-500">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Add User Modal -->
  <div
    *ngIf="isAddUserVisible"
    class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center"
  >
    <div class="bg-white rounded-lg p-6 w-full max-w-lg">
      <h3 class="text-lg font-medium text-gray-900 mb-4">Add New User</h3>
      <app-add-user
        (closeForm)="hideAddUserForm()"
        (userAdded)="onUserAdded()"
      ></app-add-user>
    </div>
  </div>
</div>
